/* .bg-img1 {
  background-color: #000;
  background-image: url(images/istockphoto-1416317224-1024x1024.jpg);
  background-size: cover;
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(images/istockphoto-158832686-1024x1024.jpg);
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(images/istockphoto-530845947-1024x1024.jpg);
} */
/* img {
  width: 100%;
  height: 70vh;
} */
